<h2>
    <a href="https://www.youtube.com/channel/UCwoMMZPbz1L9AZzvIvrvqYA">
        <i class="fas fa-play-circle"></i> &nbsp; Recent Videos
    </a>
</h2>
<p>
    <strong><a href="https://youtu.be/MdQyltMAocg">
        Webinar: Galaxy Resources for Tool Developers
    </a></strong>
    <span class="small">- Galaxy resources for getting your tools used.</span>
</p>
<p>
    <strong><a href="https://youtu.be/uKTjVWU5Kg4">
        Webinar: Building a bioinformatics platform: Lessons learned from immuneML
    </a></strong>
    <span class="small">- immuneML is a platform for the analysis of adaptive immune receptors through machine learning</span>
</p>
<p>
    <strong><a href="https://youtu.be/AXynJtPXgRQ">
        Webinar: Galaxy Resources for Educators and Trainers
    </a></strong>
    <span class="small">- Resources for teaching with Galaxy</span>
</p>
<p>
    <strong><a href="https://youtu.be/6S0yOvgISVI">
        Tools for Applied Data Science Using Cloud-Based Platform
    </a></strong>
    <span class="small">- How to launch and use Galaxy within AnVIL</span>
</p>
<p>
    <strong>
        <a href="https://youtu.be/pjVJ0ncBRsM">Alpha Preview: Running QIIME 2 inside Galaxy</a>
    </strong>
    <span class="small">- a guide to running the q2Galaxy Docker container on Windows</span>
</p>
