<h2>
    <a href="https://www.youtube.com/channel/UCwoMMZPbz1L9AZzvIvrvqYA">
        <i class="fas fa-play-circle"></i> &nbsp; Recent Videos
    </a>
</h2>
<p>
    <strong><a href="https://youtu.be/AXynJtPXgRQ">
        Webinar: Galaxy Resources for Educators and Trainers
    </a></strong>
    <span class="small">- Resources for teaching with Galaxy</span>
</p>
<p>
    <strong><a href="https://youtu.be/6S0yOvgISVI">
        Tools for Applied Data Science Using Cloud-Based Platform
    </a></strong>
    <span class="small">- How to launch and use Galaxy within AnVIL</span>
</p>
<p>
    <strong>
        <a href="https://youtu.be/pjVJ0ncBRsM">Alpha Preview: Running QIIME 2 inside Galaxy</a>
    </strong>
    <span class="small">- a guide to running the q2Galaxy Docker container on Windows</span>
</p>
<p>
    <strong>
        <a href="https://training.galaxyproject.org/training-material/videos/watch.html?v=transcriptomics/tutorials/scrna-plates-batches-barcodes/slides">Plates, Batches, and Barcodes</a>
    </strong>
    <span class="small">- a new GTN slide deck vidoe introduction to Single-Cell experiment design</span>
</p>
<p>
    <strong><a href="https://youtu.be/cFN_WPGz9qk">
        Webinar: Galaxy Resources for Researchers
    </a></strong>
    <span class="small">- Resources for becoming a Galaxy power user</span>
</p>
