<h2>
    <a href="https://www.youtube.com/channel/UCwoMMZPbz1L9AZzvIvrvqYA">
        <i class="fas fa-play-circle"></i> &nbsp; Recent Videos
    </a>
</h2>
    <strong>
        <a href="https://youtu.be/pDuZlhr_BV8">Intro to CPT Galaxy and Apollo for Phage Genome Annotation</a>,
        <a href="https://youtu.be/VnQ4wne7WR0">Structural Annotation</a>, and
        <a href="https://youtu.be/33Nw1egzYPg">Functional Annotation</a>
    </strong>
    <span class="small">- From the <a href="https://www.youtube.com/channel/UCSg8OW817LvhnjU3grTgRNQ">Center for Phage Technology at Texas A&M University channel</a></span>
</p>
<p>
    <strong><a href="https://youtu.be/cFN_WPGz9qk">
        Webinar: Galaxy Resources for Researchers
    </a></strong>
    <span class="small">- Resources for becoming a Galaxy power user</span>
</p>
<p>
    <strong><a href="https://youtu.be/dguN6Xw2Azs">
        Training: Galaxy 101 for Everyone
    </a></strong>
    <span class="small">- An introduction to Galaxy</span>
</p>
<p>
    <strong><a href="https://youtu.be/yKlJ5ESri7o">
        Training: Analysis of plant scRNA-Seq data using Scanpy
    </a></strong>
    <span class="small">- Part of the <a href="https://docs.google.com/document/d/1Y5MqYmMxFCy7PDImYYuHLhgCKVV7MjoGMr22G2U68Ec/preview">Plant Transcriptome Analsys using Galaxy training event</a></span>
</p>
<p>
    <strong>
        <a href="https://youtu.be/1kiUaJBVnlo">Training: miRNA differential expression analysis: Intro</a>,
        <a href="https://youtu.be/TyWCXxzHZak">Hands-on 1</a>, and
        <a href="https://youtu.be/4Xpd25T6ziw">Hands-on 2</a>
    </strong>
    <span class="small">- Part of the <a href="https://docs.google.com/document/d/1Y5MqYmMxFCy7PDImYYuHLhgCKVV7MjoGMr22G2U68Ec/preview">Plant Transcriptome Analsys using Galaxy training event</a></span>
</p>
