[Training](https://gcc16.sched.org/overview/type/D.x+Training+-+All)<br />
[Meeting](https://gcc16.sched.org/overview/type/E.x+Conference+-+All)<br />
[Hackathons](https://gcc2016.iu.edu/hacks/index.php)<br />
[BoFs](https://gcc16.sched.org/overview/type/E.6+Birds-of-a-feather)<br />
[Location](https://gcc2016.iu.edu/location)<br />
[Registration](https://gcc2016.iu.edu/registration/)<br />
[Sponsors](https://gcc2016.iu.edu/sponsors/)<br />
[Organizers](https://gcc2016.iu.edu/organizers/)<br />
[FAQ](https://gcc2016.iu.edu/faq/)<br />
</div>