---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Galaxy Community">
  <div class="container my-5">
    <h1>Galaxy Community</h1>
    
    <p class="lead">
      Galaxy is more than software - it's a global community of researchers, developers, 
      trainers, and users working together to enable accessible, reproducible, and collaborative science.
    </p>

    <div class="row mt-5">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Get Support</h3>
            <p class="card-text">
              Need help with Galaxy? The community is here to help through various channels.
            </p>
            <ul>
              <li><a href="https://help.galaxyproject.org">Galaxy Help Forum</a> - Q&A support</li>
              <li><a href="https://gitter.im/galaxyproject/Lobby">Gitter Chat</a> - Real-time chat</li>
              <li><a href="/support">Support Hub</a> - Comprehensive support resources</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Connect & Collaborate</h3>
            <p class="card-text">
              Join the conversation and collaborate with the Galaxy community.
            </p>
            <ul>
              <li><a href="https://twitter.com/galaxyproject">Twitter</a> - Latest news and updates</li>
              <li><a href="https://github.com/galaxyproject">GitHub</a> - Development and issues</li>
              <li><a href="/community/wg">Working Groups</a> - Focused collaboration</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Learn & Train</h3>
            <p class="card-text">
              Access training materials and join training events.
            </p>
            <ul>
              <li><a href="https://training.galaxyproject.org">Galaxy Training Network</a> - Tutorials</li>
              <li><a href="/events">Training Events</a> - Workshops and courses</li>
              <li><a href="/learn">Learning Hub</a> - Educational resources</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title">Contribute</h3>
            <p class="card-text">
              Help make Galaxy better by contributing in various ways.
            </p>
            <ul>
              <li><a href="/develop">Development</a> - Code contributions</li>
              <li><a href="https://training.galaxyproject.org/training-material/topics/contributing">Training Materials</a> - Create tutorials</li>
              <li><a href="/toolshed">Tool Shed</a> - Share tools</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5" />

    <h2>Community Resources</h2>
    
    <div class="row">
      <div class="col-lg-4 mb-4">
        <h4>Regional Communities</h4>
        <ul>
          <li><a href="/eu">Galaxy Europe</a></li>
          <li><a href="/au">Galaxy Australia</a></li>
          <li><a href="/us">Galaxy US</a></li>
          <li><a href="/fr">Galaxy France</a></li>
        </ul>
      </div>
      
      <div class="col-lg-4 mb-4">
        <h4>Special Interest Groups</h4>
        <ul>
          <li><a href="/community/sig/microbial">Microbial</a></li>
          <li><a href="/community/sig/cancer">Cancer Research</a></li>
          <li><a href="/community/sig/proteomics">Proteomics</a></li>
          <li><a href="/community/sig/metabolomics">Metabolomics</a></li>
        </ul>
      </div>
      
      <div class="col-lg-4 mb-4">
        <h4>Community Events</h4>
        <ul>
          <li><a href="/gcc">Galaxy Community Conference</a></li>
          <li><a href="/events/cofests">Collaboration Fests</a></li>
          <li><a href="/events/meetups">Local Meetups</a></li>
          <li><a href="/events">All Events</a></li>
        </ul>
      </div>
    </div>

    <div class="alert alert-success mt-5">
      <h4 class="alert-heading">Join Us!</h4>
      <p>
        The Galaxy community welcomes participation from everyone. Whether you're a researcher, 
        developer, educator, or student, there's a place for you in our community.
      </p>
      <hr>
      <p class="mb-0">
        Read our <a href="/community/coc" class="alert-link">Code of Conduct</a> to learn about 
        our commitment to providing a welcoming environment for all.
      </p>
    </div>
  </div>
</Layout>