<div class="center">
  <a href='/src/events/gcc2019/index.md'>
      <img class="img-fluid" src="/src/events/gcc2019/gcc2019-logo-big-wide.png" alt="GCC2019" />
  </a>
  <div class="linkbox-horizontal">
      [Program](https://gcc2019.sched.com/) |
      [Training](/src/events/gcc2019/training/index.md) |
      [CoFest](/src/events/gcc2019/cofest/index.md) |
      [Venue](/src/events/gcc2019/venue/index.md) |
      [FAQ](/src/events/gcc2019/faq/index.md) |
      [Childcare](/src/events/gcc2019/childcare/index.md) |
      [Sponsors](/src/events/gcc2019/sponsors/index.md) |
      [Conduct](/src/events/gcc2019/conduct/index.md) |
      [Promotion](/src/events/gcc2019/promotion/index.md) |
      [Org](/src/events/gcc2019/organizers/index.md) 
  </div>
  <div style="font-size: x-large;">
    **2019 Galaxy Community Conference (GCC2019)**
  </div>
  <div style="font-size: large;">
    Freiburg, Germany, 1-6 July 2019
    <br />
    <strong>[Talk abstracts deadline extended to 26 Apr](/src/events/gcc2019/abstracts/index.md) &nbsp;/&nbsp; [Early Reg ends 17 May](/src/events/gcc2019/registration/index.md)</strong> 
  </div>
  [#usegalaxy](https://twitter.com/hashtag/usegalaxy) / [chat](https://gitter.im/galaxyproject/gcc)
  <br /><br />
</div>
