extends events_index.pug

block content
    - var events_malleable = events.slice().reverse()

    div.col-md-12
        section.section-content
            h1 !{title}
            div !{ contents }

            p The events archive for Galaxy.  See the 
               a(href="/events/") events page
               |  for upcoming and recent events, and the 
               a(href="/events/archive/wayback/") Way Beyond the Events Horizon page
               |  for a full list of events from 2016 and before.
            table.table.table-striped
                thead
                    tr
                        th Date
                        th Topic/Event
                        th Venue/Location
                        th Contact
                tbody
                    each item in events_malleable.reverse()
                        if item.date != undefined
                            if moment(item.date) < moment(new Date()).subtract((365), 'days') 
                                +renderEventRow(item)
