extends events_index.pug

block content
    - var events_malleable = events.slice().reverse()

    div.col-md-12
        section.section-content
            h1 !{title}
            div !{ contents }

            h2(id="upcoming-events") Upcoming Webinars
            table.table.table-striped
                thead
                    tr
                        th Date
                        th Topic/Event
                        th Venue/Location
                        th Contact
                tbody
                    each item in events_malleable
                        if item.date != undefined && item.tags != undefined
                            - if (item.tags.includes('webinar'))
                                if moment(item.date) >= moment(new Date()).subtract((item.days || 1), 'days')
                                    +renderEventRow(item)
            h2(id="recent-events") Recent Webinars
            p Events in the past 12 months:
            table.table.table-striped
                thead
                    tr
                        th Date
                        th Topic/Event
                        th Venue/Location
                        th Contact
                tbody
                    each item in events_malleable.reverse()
                        if item.date != undefined && item.tags != undefined
                            - if (item.tags.includes('webinar'))
                                if moment(item.date) < moment(new Date()).subtract((item.days || 1), 'days') && moment(item.date) > moment(new Date()).subtract((item.days + 365), 'days')
                                    +renderEventRow(item)

