extends layout.pug

mixin renderNews()
    +renderPageTitle
    p.small #{helpers.moment(date).format("MMMM Do YYYY")}
    div !{ contents }

block content
    section.section-content
        div.col-md-12
            +renderNews
