extends layout.pug

block content
    section.section-content
        div.col-md-12
            section.section-content
                h1 #{ title }
                if tease
                    p: em #{tease}
                p.small #{helpers.moment(date).format("MMMM Do YYYY")}
                div !{ contents }
