extends layout.pug

block content
    section.section-content
        div.col-md-12
            section.section-content
                h1 #{ title }
                div.blurb !{ contents }
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active#google-tab(data-toggle="tab" href="#google-pane" role="tab" aria-controls="google-pane" aria-selected="true") Pan-Galactic Google Search
                    li.nav-item
                        a.nav-link#zotero-tab(data-toggle="tab" href="#zotero-pane"  role="tab" aria-controls="zotero-pane" aria-selected="false") Galaxy Publication Search
                div.tab-content
                    div.tab-pane.active#google-pane(role="tabpanel" aria-labelledby="home-tab")
                        script.
                            var cx = '007594916903876912968:w0nrox8rzzy';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        | <gcse:searchresults-only></gcse:searchresults-only>
                    div.tab-pane#zotero-pane(role="tabpanel" aria-labelledby="zotero-tab")
                        p
                            | Loading Zotero Results - 
                            i.fa.fa-spinner.fa-spin

    script(type='text/javascript').
        $(function(){
            window.zoteroSearchOnLoad();
        });
