- var use_resources_for_display = _.map(use, function(r){ return _.omit(r, ['previous', 'next', 'stats', 'mode', 'collection', 'orig_path', 'layout', 'autotoc'])})
| !{JSON.stringify(resources_for_display, null, 2)}
