- var use_resources_for_display = helpers._.map(use, function(r){ return helpers._.omit(r, ['previous', 'next', 'stats', 'mode', 'collection', 'orig_path', 'layout', 'autotoc'])})
| !{JSON.stringify(resources_for_display, null, 2)}
