@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	src: url("/fonts/Roboto-Bold.ttf");
}
