@use "sass:map";
@import "variables.scss";
/* hub-specific overrides to variables */
$font-family-sans-serif:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 300;

$font-family-base: $font-family-sans-serif;

$font-size-base: 0.875rem;
$line-height-base: 1.6;
$headings-line-height: 1.6;

$h1-font-size: $font-size-base * 2; // default 2.5
$h2-font-size: $font-size-base * 1.75; // default 2
$h3-font-size: $font-size-base * 1.5; // default 1.75
$h4-font-size: $font-size-base * 1.25; // default 1.5
$h5-font-size: $font-size-base; // default 1.25
$h6-font-size: $font-size-base * 0.85; // default 1
$blockquote-font-size: $font-size-base;

$brand-primary: #336699;
$headings-small-color: inherit;

$body-bg: white;
$navbar-default-bg: rgb(255, 255, 255);
$navbar-default-border: none;

$navbar-inverse-bg: rgb(44, 49, 67);

$grid-float-breakpoint: 1000px;

// splashpage carousel styling
$jumbotron-bg: white;
$carousel-indicator-border-color: gray;
$carousel-indicator-active-bg: $navbar-inverse-bg;
$carousel-control-width: 5%;

$home-body-bg: $brand-dark;
$home-accent-brightest: #c2efff;
$home-accent-brighter: #c2ebc2;
$home-accent-bright: #f6f7f9;
$home-cdark-background: #0e1427;
$home-research-publications: #1b62a4;
$home-research-tutorials: #2d629f;
$home-research-events: #3676bf;
$home-research-cases: #3676bf;

@import "~bootstrap/scss/bootstrap.scss";

//@import "~@fortawesome/fontawesome-free/scss/_variables.scss";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

@import "overrides.scss";

html {
    position: relative;
    min-height: 100%;
}

.layoutHome {
    background-color: $home-body-bg;
    #maincontainer {
        .bgBrightest {
            background-color: $home-accent-brightest;
        }

        .bgBrighter {
            background-color: $home-accent-brighter;
        }

        .bgBright {
            background-color: $home-accent-bright;
        }

        .notification {
            padding: 10px;
            margin: 20px 15px 20px 0;
            font-size: 1.2rem;
            border-radius: 5px;
        }

        nav {
            .container-fluid {
                padding-left: 0;
                justify-content: left;
            }
            div.nav div.dropdown:hover div.dropdown-menu {
                display: block;
                position: absolute;
                border: 1px solid $black;
                filter: drop-shadow(2px 2px 2px $gray);
            }
            .dropdown-menu.hero {
                font-size: 1.3rem;
                font-weight: 500;
                a.dropdown-item:hover,
                a.dropdown-item:focus {
                    color: $white;
                }
            }
        }

        h1 {
            font-size: 3.5rem;
            font-weight: 800;
            color: $white;
            margin-bottom: 20px;
            line-height: 1.4;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700;
            color: $white;
            &.education {
                color: $black;
            }
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            color: $white;
            margin: 0 0 0.5rem 0;
        }

        .highlight {
            font-size: 1.45rem;
            margin-bottom: 20px;
            font-weight: 400;
            padding: 0;
            line-height: 1.6;
            &.hero {
                color: #cccccc;
            }
        }

        p,
        .card p {
            font-size: 1.45rem;
            margin-bottom: 20px;
            font-weight: 400;
            padding: 0;
            line-height: 1.6;
            &.hero {
                color: #cccccc;
            }
        }

        .heroVideo {
            video {
                width: 100%;
            }
        }

        .area {
            position: relative;
            display: flex;
            font-size: 1.3rem;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            text-align: left;
            padding: 13px 20px;
            text-decoration: none !important;
            border-radius: 7px;
            line-height: 1.4rem;

            &.education {
                display: block;
                padding: 0;
                border: 0;
                svg.wave {
                    fill: $home-body-bg;
                    display: inline;
                    &.top {
                        transform: rotate(180deg);
                    }
                }

                a.btn {
                    min-width: 355px;
                    padding-left: 18px;
                    border-width: 2px;

                    .title {
                        font-size: 1.7rem;
                        color: $black;
                        text-decoration: none;
                        font-weight: 400;
                    }
                    &.btn-outline-primary:hover .title {
                        color: $white !important;
                    }

                    .text {
                        min-height: 30px;
                        font-size: 0.9rem;
                        text-wrap: nowrap;
                        color: $black;
                        text-decoration: none;
                        font-weight: 400;
                    }

                    &.btn-outline-primary:hover .text {
                        color: $white !important;
                        text-decoration: none;
                    }

                    .iconXlarge {
                        float: left !important;
                        width: 50px;
                        font-size: 40px;
                    }
                }
            }

            &.callouts {
                &:hover {
                    text-decoration: none !important;
                }
                &.cdark,
                &.toolshed {
                    background-color: $home-cdark-background;
                    a.btn {
                        background-color: lighten($home-cdark-background, 75%);
                        color: $home-body-bg;
                        font-weight: normal;
                    }
                    a.btn:hover {
                        background-color: lighten($home-cdark-background, 65%);
                    }
                    .pad {
                        padding-top: 2rem;
                    }
                    a {
                        color: $home-accent-brightest;
                        font-weight: 600;
                    }
                }

                &.clight {
                    background-color: $home-accent-bright;
                    a {
                        color: #0053a6;
                        font-weight: 600;
                    }
                }

                &.cbright {
                    position: relative;
                    &::before {
                        content: "";
                        pointer-events: none;
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-image: url("/images/icons/worldMap.svg");
                        opacity: 0.05;
                        background-size: cover;
                        background-position: 0%;
                    }
                    a {
                        font-weight: 600;
                    }
                }
            }

            &.research {
                &.publications {
                    background: linear-gradient(155deg, #1d4068 44%, $home-research-publications);
                    a:hover {
                        text-decoration: none !important;
                    }
                }

                &.tutorials,
                .tutorials {
                    background: linear-gradient(155deg, #244f7f 24%, $home-research-tutorials);
                    a:hover {
                        text-decoration: none !important;
                    }
                    ul {
                        padding-left: 1.1rem;
                        li {
                            color: $white;
                            a {
                                .link {
                                    color: $white;
                                    font-size: 80%;
                                    font-weight: 400;
                                    padding-bottom: 0.5rem;
                                }
                            }
                        }
                    }
                    a.btn {
                        background-color: darken($home-research-tutorials, 20%);
                        color: $white;
                        &:hover {
                            background-color: darken($home-research-tutorials, 40%);
                        }
                    }
                }

                &.events {
                    color: $white;
                    background: linear-gradient(155deg, #28588f 44%, $home-research-events);

                    table {
                        tr {
                            font-size: 80%;
                        }
                    }
                    a.btn {
                        background-color: darken($home-research-events, 20%);
                        color: $white;
                        &:hover {
                            background-color: darken($home-research-events, 40%);
                        }
                    }
                }

                &.cases {
                    color: $white;
                    background: linear-gradient(155deg, #28588f 45%, $home-research-cases);
                }
            }

            &.testimonials {
                color: $white;
                background: linear-gradient(155deg, #1d4068 44%, #2d629f);
                border-radius: 12px;
                padding: 30px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                blockquote {
                    margin: 0;
                    font-size: 1.1rem;
                    line-height: 1.6;
                }
            }
        }

        a {
            &.hero {
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
    }

    .footer {
        min-height: 22vh;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        hr {
            background-color: $white;
            height: 1px;
            margin: 0 0 40px 0;
            border: 0;
        }
        ul {
            color: $white;
            font-size: 0.9rem;
            list-style-type: none;
            padding: 0;
            & li a {
                color: $white;
                line-height: 1.5rem;
            }
        }
        .citation p {
            font-size: 0.7rem;
            color: #a5a5a5;
        }
    }
}

.container-fluid {
    max-width: 1200px;
}

.table {
    margin-top: 1.5rem;
}

.navbar-static-bottom {
    @extend .fixed-bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.section-content {
    width: 100%;
    padding-bottom: 24px;
    background: rgba(255, 255, 255, 0.9);
}

div.post {
    margin-bottom: 1em;
}

footer {
    font-size: 85%;
}

// Masthead

// ==== Masthead ====

#masthead {
    background-color: $brand-masthead;
    #subsite-name {
        color: $brand-masthead-text;
        &:hover {
            color: $brand-masthead-text-hover;
        }
    }
    .navbar-nav {
        > li {
            &.active {
                background: darken($brand-masthead, 10%);
            }
            .nav-link {
                position: relative;
                cursor: pointer;
                text-decoration: none;
                color: $brand-masthead-text;
                &:hover {
                    color: $brand-masthead-text-hover;
                }
                &.toggle {
                    color: $brand-masthead-text-hover;
                }
            }
        }
    }
    .light-bg #subsite-name {
        color: black;
    }
    .light-bg .navbar-nav {
        > li {
            .nav-link {
                color: black;
                &:hover {
                    color: #003399;
                }
            }
        }
    }
}
#masthead.mastheadHome {
    //TODO better integrate
    background-color: white;
}

/* Custom CSS for Galaxy wiki doc
   Most of this was initially copied from old wiki
   https://moin.galaxyproject.org/moin_static198/mandaring/style.custom.css

   Classes should probably stay the same.
   Setting for classes can change quite a bit.
*/

/* override bootstrap blockquote styling */

.blockquote,
.markdown blockquote {
    border-left: 1rem solid #f5f5f5; // same as code
    padding-left: 1rem;
}

/* override bootstrap float-left and float-right styling */

.float-right {
    z-index: 100;
    margin: 0em 0em 1em 1em;
}

.float-left {
    margin: 0em 1em 1em 0em;
}

/* Redefine HR; Default HR is quite subtle. */
hr {
    background-color: #405080;
    height: 2px;
    border-radius: 1px;
    margin: 0.6em 0em;
}

/* Card overrides */

div.card-deck {
    margin-bottom: 2rem;
    padding-left: 0.75rem;
    padding-bottom: 0.75rem;
}

div.card {
    line-height: 1.2;
}

div.card-deck .card {
    margin: 0.75rem 0.75rem 0 0;
}

div.card p {
    padding: 0.75rem 1.25rem 0rem 1.25rem;
}

div.card p + p,
div.card ul + p {
    padding: 0.3rem 1.25rem 0rem 1.25rem;
}

div.card ul li {
    padding-right: 1.25rem;
}

card-img-top {
    margin: 0rem 0rem 0.75rem 0rem;
}

.card-header {
    font-size: 1.15rem;
    font-weight: 500;
}

/* Video: as wide as container. */
.video-variable {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-variable iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Bold in Lead is hard to notice. Fix that. */

.lead strong {
    font-weight: 600;
}

/*
   Button overrides;

   more space between buttons on multiple consecutive lines
   overall line-height is unchanged.
*/

.btn {
    margin-top: 0.075rem;
    margin-bottom: 0.075rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

/*********
   Leftovers from MoinMoin.  Only used these because they were already in Moin.
 *********/

.red {
    background: #fcc;
}
.green {
    background: #cfc;
}
.blue {
    background: #ccf;
}

div.solid,
div.dashed,
div.dotted {
    border: 2px solid #000;
    padding: 0.5em;
}
div.solid {
    border-style: solid;
}
div.dashed {
    border-style: dashed;
}
div.dotted {
    border-style: dotted;
}
div.light {
    border-width: 1px;
    border-color: gray;
}

/*********
   Custom styles for this site.
 *********/

/* right justified items */
div.right {
    float: right;
    margin: 0 0 0.5em 0.5em;
}

/* right justified items */
div.left {
    float: left;
    margin: 0 1.5em 1em 0;
}

div.indent {
    margin-left: 2em;
}

.center {
    text-align: center;
}
.center > div {
    display: inline-block;
}

/* Link Boxes are like infobox's at wikipedia.  They are a list of links, in a box. */
div.linkbox {
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0 0.5em 0.5em 0.5em;
    border: 1px solid #ddd;
    background-color: #dfe5f9;
    font-size: 90%;
    text-align: center;
    // Raise z-index to prevent linkboxes from being occluded by elements like headings (issue #1033).
    z-index: 100;
    position: relative;
}

div.linkbox hr {
    padding: 0;
    margin: 0 0 0 0;
    color: #bbb;
    border: 1px solid #ddd;
    background-color: #bbb;
    border-color: #bbb;
    text-align: center;
}

div.linkbox-horizontal,
.linkbox.horizontal {
    float: initial;
    margin-bottom: 15px;
    padding: 0 5px;
    border: 1px solid #ddd;
    color: #686868;
    background-color: #efeff9;
    text-align: center;
}

div.linkbox p {
    padding: 0;
    margin: 0 0 0 0;
}

/* CSS for News Items */
div.newsItemHeader,
div.noteItemHeader {
    font-size: 140%;
    margin-bottom: 1em;
}
div.newsItemHeader a,
div.noteItemHeader a {
    color: #273040;
}
div.newsItemFooter,
div.noteItemFooter {
    font-size: 90%;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

/* Used on News page */
div.newsItemList div.newsItemHeader,
div.noteItemList div.noteItemHeader {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 0.5em;
    margin: 1em 0 0.7em 0;
}

/* CSS for Deployment pages */
div.dictbox,
div.deploymentbox,
div.logbox {
    background-color: #36c;
    float: right;
    margin: 0 0 0.5em 0.5em;
    padding: 0 0.5em 0.5em 0.5em;
    border: 1px solid gray;
    color: white;
    font-size: 90%;
    width: 25%;
    line-height: 110%;
}

div.dictbox dt,
div.deploymentbox dt,
div.logbox dt {
    margin-bottom: 0.2em;
}
div.dictbox dd,
div.deploymentbox dd,
div.logbox dd {
    margin-left: 1em;
}

div.dictbox p,
div.deploymentbox p,
div.logbox p {
    margin-bottom: 0;
    padding-bottom: 0;
}

div.dictbox a:link,
div.dictbox a:visited,
div.deploymentbox a:link,
div.deploymentbox a:visited,
div.logbox a:link,
div.logbox a:visited {
    color: #ccc;
}

div.linkbox a:visited {
    color: #ddd;
}

#splash-box {
    .carousel-item,
    .carousel-inner {
        height: 420px;
    }
    .carousel-control.left,
    .carousel-control.right {
        background-image: none;
    }
}
.carousel .carousel-control {
    visibility: hidden;
}
.carousel:hover .carousel-control {
    visibility: visible;
}

h1.pageTitle {
    margin-top: 0px;
}

/* headingsidentifier */
.heading-anchor {
    display: block;
    padding-right: 6px;
    padding-left: 20px;
    margin-left: -20px;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    left: 0;
    text-decoration: none;
    height: 100%;
    background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 0.5rem;
}
h1:hover .heading-anchor span:before,
h2:hover .heading-anchor span:before,
h3:hover .heading-anchor span:before,
h4:hover .heading-anchor span:before,
h5:hover .heading-anchor span:before,
h6:hover .heading-anchor span:before {
    content: fa-content($fa-var-link);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 14px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}
h1:hover .heading-anchor span:before {
    top: 8px;
}
h4:hover .heading-anchor span:before,
h5:hover .heading-anchor span:before,
h6:hover .heading-anchor span:before {
    font-size: 12px;
}

.twocol {
    column-count: 2;
    column-gap: 2rem;
}

.bg-wg-primary {
    background-color: #6286a6 !important;
}

.bg-wg-goats {
    background-color: #61ad90 !important;
}

.bg-wg-applied {
    background-color: #8886b3 !important;
}

.bg-wg-all {
    background-color: #d87e55 !important;
}

.bg-sig-field {
    background-color: #006b15 !important;
}

.bg-sig-method {
    background-color: #630177 !important;
}

.bg-sig-service {
    background-color: #77072f !important;
}

.bg-sig-region {
    background-color: #cc4d00 !important;
}

.bg-sig-projects {
    background-color: #150276 !important;
}

/*********
   Gridsome-era additions.
 *********/

#maincontainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    a:not(.btn) {
        color: $brand-primary;
    }
    a:hover {
        text-decoration: underline;
    }
}

/* Convenience classes to hide elements below a certain screen width.
 * These use Bootstrap's breakpoint definitions (found in its scss/_variables.scss file).
 * See also: https://getbootstrap.com/docs/5.0/layout/breakpoints/
 */
// Hide on screens narrower than 576px (by default).
@media (max-width: map.get($grid-breakpoints, "sm")) {
    .sm-plus {
        display: none;
    }
}
// 768px
@media (max-width: map.get($grid-breakpoints, "md")) {
    .md-plus {
        display: none;
    }
}
// 992px
@media (max-width: map.get($grid-breakpoints, "lg")) {
    .lg-plus {
        display: none;
    }
}
// 1200px
@media (max-width: map.get($grid-breakpoints, "xl")) {
    .xl-plus {
        display: none;
    }
}

pre {
    background-color: $brand-dark;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
}

/***** Generally useful styles *****/
.text-nowrap {
    white-space: nowrap !important;
}

/***** Table of Contents *****/
.markdown.notoc .toc-wrapper {
    display: none;
}
.markdown.notoc .body-wrapper {
    max-width: 100%;
}
.toc-wrapper {
    float: right;
}
.toc-wrapper ul {
    list-style: none;
    line-height: 170%;
}
.toc-wrapper > ul > li > p,
.toc-wrapper > ul > li > a {
    font-weight: bold;
}
.toc-wrapper > ul ul {
    padding-left: 15px;
}

.body-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: left;
}

/***** Markdown image sizing *****/
.markdown img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.img-sizer {
    margin-bottom: 1rem;
}
.img-sizer-small img {
    width: clamp(10rem, 100%, 20rem);
}
.img-sizer p {
    height: 100%;
    margin-bottom: 0;
}
/***** Markdown styling helpers *****/
.autowidth img {
    width: auto;
}
.trim-p p,
p.trim-p,
.markdown ul li p,
.markdown ol li p,
.markdown .btn p {
    padding: 0 !important;
    margin: 0;
}
.img-mx-3 img {
    margin-left: 1rem;
    margin-right: 1rem;
}
.inline-p p,
.inline-div div {
    display: inline-block;
}
.expand-img img {
    width: 100%;
}
.no-header thead {
    display: none;
}
.markdown .compact th,
.markdown .compact td {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    line-height: 1.3em;
}
/* Replacement for .table and .table-striped on Markdown tables.
 * Until we can get those classes inserted into the table elements themselves.
 */
.markdown table {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    color: #212529;
    border-collapse: collapse;
}
.markdown thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #bfbfbf;
    text-align: inherit;
}
.markdown th,
.markdown td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #bfbfbf;
}
/* A .table-striped specific one: */
.markdown tbody tr:nth-of-type(2n + 1) {
    background-color: rgba(0, 0, 0, 0.05);
}
/***** Anchor link icons next to headings *****/
.markdown h1 > a[aria-hidden="true"],
.markdown h2 > a[aria-hidden="true"],
.markdown h3 > a[aria-hidden="true"],
.markdown h4 > a[aria-hidden="true"],
.markdown h5 > a[aria-hidden="true"],
.markdown h6 > a[aria-hidden="true"] {
    display: none;
}
/* Anchor link icons by headings */
h1:hover > a[aria-hidden="true"],
h2:hover > a[aria-hidden="true"],
h3:hover > a[aria-hidden="true"],
h4:hover > a[aria-hidden="true"],
h5:hover > a[aria-hidden="true"],
h6:hover > a[aria-hidden="true"] {
    display: block;
    padding-right: 6px;
    padding-left: 20px;
    margin-left: -20px;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    left: 0;
    text-decoration: none;
    height: 100%;
    background: transparent;
}
h1:hover > a > span.icon.icon-link::before,
h2:hover > a > span.icon.icon-link::before,
h3:hover > a > span.icon.icon-link::before,
h4:hover > a > span.icon.icon-link::before,
h5:hover > a > span.icon.icon-link::before,
h6:hover > a > span.icon.icon-link::before {
    /* link icon from FontAwesome */
    font-family: "Font Awesome 5 Free";
    content: "\f0c1";
    font-weight: 900;
    position: absolute;
    font-size: 70%;
    right: 0.75em;
    top: -2px;
    bottom: 0;
}
/***** From galaxyproject.eu *****/
.tooltable td:nth-child(3) {
    width: 15%;
}

/* GCC2024 */
.gcc2024-authors {
    font-style: italic;
    font-size: small;
}

.gcc2024-title {
    font-weight: 600;
}
